
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Inscription */

.signup-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
}

.signup-form h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

.signin-link {
    margin-top: 20px;
    text-align: center;
}

.signin-link a {
    color: #007bff;
    text-decoration: none;
}


/* Mot de passe oublie */

.forgot-password-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.forgot-password-form h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

.login-link {
    margin-top: 20px;
}

.login-link a {
    color: #007bff;
    text-decoration: none;
}